/* body */
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(60deg, white, rgb(155,52,224), rgb(206,34,112));
}

/* main-container */
#main-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgb(57,66,83);
    border-radius: 0.8%;
}

h1{
    color: rgb(111,119,136);
}

/* form-container */
#form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#form-container #task-description{
    padding: 2% 1.5% 4% 1.5%;
    margin: 1% 0;
    width: 100%;
    background-color: rgb(33,42,57);
    color: white;
    border: 0px black solid;
    border-left: none;
    border-right: none;
}

#form-container #task-description::placeholder{
    color: rgb(111,121,127);
}

#form-container #category{
    padding: 1% 0.5% 2% 0.5%;
    margin: 1% 0;
    width: 100%;
    background-color: rgb(33,42,57);
    color: rgb(111,121,127);
    border: 0px grey solid;
    border-left: none;
    border-right: none;
}

#form-container #date-container {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 99%;
    padding: 1% 0.5% 2% 0.5%;
    margin: 1% 0;
    background-color: rgb(33,42,57);
    color: rgb(111,121,127);
    border-left: none;
    border-right: none;
}

#form-container #date-container input{
    border: 1px solid white;
    background-color: rgb(247, 250, 255);
    color: black;
    font-family: system-ui;
    border-radius: 5px 10px 10px 5px;
}

/* tasks-list-container */
#tasks-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#tasks-list-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#tasks-list-container #date{
    font-family: unset;    
    font-size: 0.7rem;
}

#empty-task-container{
    height: 100%;
    margin: 9%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#empty-task-container i{
    color: rgb(111,119,136);
}


/* task-container */
#task-container{
    display: flex;
    width: 95%;
    align-items: center;
    margin: 1% 0;
    color: ghostwhite;
    background-color: rgb(18,25,41);

    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-radius: 25px;
    padding: 1%;
}

#task-container a{
    margin-right: 1%;
}

#task-container a i{
    margin-left: 20%;
    color: rgb(18,25,41);
    transition: 0.2s;
}

#task-container:hover a i{
    color: rgb(248, 175, 175);
}

#task-container #task-date-div{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-family: consolas;
}

#task-container #category-span{
    font-family: consolas;
    font-size: 0.9rem;
    padding: 1%;
    border-radius: 0 25px 25px 0;
}

#button-div button{
    padding: 2%;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 0 solid black;
    font-size: 1.2rem;
    background-color: rgb(18,25,41);
    color: rgb(111,119,136);
    font-weight: 550;
    cursor:pointer;
    transition: 0.2s;
}

#button-div button:hover{
    background-color: rgb(111,119,136);
    color: rgb(18,25,41);
}

#category-span{
    margin-right: 1%;
    margin-left: auto;
}

/*other-styles*/
.font-family-fontawesome{
    font-family: 'FontAwesome';
}

.font-size-opoint9rem{
    font-size: 0.9rem;
}

.Personal{
    background-color: rgb(223, 129, 129);
}

.Work{
    background-color: rgb(58, 124, 185);
}

.School{
    background-color: rgb(60, 172, 64);
}

.Cleaning{
    background-color: rgb(111, 24, 103);
}

.Other{
    background-color: rgb(225, 139, 25);
}